@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
body {
   background-color: #f2efea !important;
   font-family: "Outfit", sans-serif;
   
  
   color: #4A4548 !important;
}

#logo-ti {
   width: 160px;
   
}

#logo-container {
   display: flex;
   justify-content: center;
}

.hero {
   background-image: url('image/hero.jpg');
   background-size: cover; 
   background-position: center;
   height: 500px;
}
.red {
   color: #fc7753;
}

.brown {
   color :#4A4548;
}

.brown:hover {
   color:  #fc7753;
}

.blue {
   color: #50808e;
}

#admin {
   height: 100vh;
   overflow:scroll; 
   display:flex;
}

.bodyadmin {
   width: 100%;
}

.sidebar {
   height: 100vh; /* altezza sidebar */
   position: fixed; /* FISSA COSI NON SCORRE CON LA PAGINA */
   top: 0;
   left: 0;
   width: 190px;
   background-color: #f2efea;
   color: #4A4548;
   transition: width 0.3s;
   overflow: auto;
}

.nav-item {
   padding: 8px 0px 8px 0px;
}
.sidebar .nav-link {
   color: #4A4548;
   padding: 0px;
 
}
.sidebar .nav-link:hover {
   color:#fc7753;
}
.main-content {
   margin-left: 190px;
   transition: margin-left 0.3s;
   padding: 1rem;
   background-color: #f2efea;
}
.uppercase {
   font-family: "Lilita One", sans-serif;
text-transform: uppercase;

}

.icon {
   padding-right: 5px;
   font-size: 30px;
   vertical-align: middle;
}

.icon-container {
   width: calc(20% - 8px);
}

.text {
   width: 80%;
}


header {
   margin-left: 190px;
   transition: margin-left 0.3s;
   background-color: #ffffff;
}
/* CARD DESTINATIONS */
.localities-card {
   box-shadow: 0 4px 8px 0 #50808e3b;
   transition: 0.3s;
   width: calc(100%/5 - 10px);
   background-color: white;
   border-radius: 5px;
 }
 
 .localities-card:hover {
   box-shadow: 0 8px 16px 0 #50808e4a;
 }
 
 .localities-container {
   display: flex;
   gap: 20px;
   flex-wrap: wrap;
   
 }

.localities-img {
   width: 100%;
   height: 100px;
   object-fit: cover;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
}

/* BUTTON */
.button-brown {
  background-color:#50808e;
  color:#f2efea;
  border: none;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.button-brown:hover{
   background-color: #6f686d;
   color: #DBD56E;
}

.trash-button {
   border:none;
   background-color: #fc7753;
   color:  #4A4548;
   border-radius: 8px;
}

.trash-button:hover {
   background-color:#4A4548;
   color:  #fc7753;
}

.edit-button {
   border:none;
   background-color:#50808e;
   color:#DBD56E;
   border-radius: 8px;
   padding: 5px;
  
}

.edit-button:hover {
   background-color:#DBD56E;
   color: #50808e;
}

.show-button {
   border:none;
   background-color: #DBD56E;
   color:#4A4548;
   border-radius: 8px;
   padding: 5px;
  
}

.show-button:hover {
   background-color:#4A4548;
   color: #DBD56E;
}



/* MEDIA QUERY */

@media (max-width: 992px) {
   .sidebar {
       width: 70px;
       overflow: hidden;
   }
   .sidebar .nav-link {
       font-size: 0; 
   }
   
   .main-content {
       margin-left: 70px;
   }

   header {
      margin-left: 70px;
   }
   #logo-ti {
      width: 60px;
     
   }
   
   .localities-card {
      width: calc(100%/2 - 10px);
   }
   .nav-item {
      padding: 8px 0px 8px 8px;
   }

   .nav-item.uppercase {
      display: none;
   }
}

@media (max-width: 600px) {
   .localities-card {
      width: 100%;
   }
}

.table {
   --bs-table-hover-bg: rgba(var(--bs-emphasis-color-rgb), 1) !important;
   --bs-table-color: #4A4548 !important;
   --bs-table-hover-color: #4A4548 !important;
   border-color: #fc785345 !important;
   --bs-table-hover-bg:  #f2efea !important;
   --bs-border-radius: 10px !important;
}

thead.destTable th:nth-child(1) {
   width: 10%;
 }
 
 thead th:nth-child(2) {
   width: 25%;
 }
 
 thead th:nth-child(3) {
   width: 50%;
 }
 
 thead th:nth-child(4) {
   width: 5%;
 }
 thead th:nth-child(5) {
   width: 5%;
 }


 thead.itiTable th:nth-child(1) {
   width: 30%;
 }
 
 thead th:nth-child(2) {
   width: 40%;
 }
 
 thead th:nth-child(3) {
   width: 10%;
 }
 
 thead th:nth-child(4) {
   width: 5%;
 }
 thead th:nth-child(5) {
   width: 5%;
 }
 thead th:nth-child(5) {
   width: 5%;
 }


.localityImage {
   width: 180px;
   height: 180px;
}

.ptova th {
   border-radius: 30px;
   border: 1px, solid, red;
}