#logo-ti {
   width: 140px;
   border-radius: 50%;
}


.hero {
   background-image: url('image/hero.jpg');
   background-size: cover; 
   background-position: center;
   height: 500px;
}
.red {
   color: #fc7753;
}

#admin {
   height: 100vh;
   overflow:scroll; 
   display:flex;
}

.bodyadmin {
   width: 100%;
}

body {
   background-color: #f2efea;
}

.sidebar {
   height: 100vh; /* altezza sidebar */
   position: fixed; /* FISSA COSI NON SCORRE CON LA PAGINA */
   top: 0;
   left: 0;
   width: 250px;
   background-color: #f2efea;
   color: rgb(0, 0, 0);
   transition: width 0.3s;
   overflow: auto;
}
.sidebar .nav-link {
   color: rgb(9, 9, 9);
}
.sidebar .nav-link:hover {
   color:#fc7753;
}
.main-content {
   margin-left: 250px;
   transition: margin-left 0.3s;
   padding: 1rem;
   background-color: #f2efea;
}

header {
   margin-left: 250px;
   transition: margin-left 0.3s;
   background-color: #ffffff;
}


@media (max-width: 992px) {
   .sidebar {
       width: 70px;
       overflow: hidden;
   }
   .sidebar .nav-link {
       font-size: 0; 
   }
   .main-content {
       margin-left: 70px;
   }

   header {
      margin-left: 70px;
   }
   #logo-ti {
      width: 60px;
      border-radius: 50%;
   }
   
  
}