@import url('https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Spline+Sans:wght@300..700&display=swap');
body {
   background-color: #f2efea !important;
   font-family: "Moderustic", sans-serif !important;
   color: #4A4548 !important;
}

#logo-ti {
   width: 160px;
   
}

#logo-container {
   display: flex;
   justify-content: center;
}

.hero {
   background-image: url('image/hero.jpg');
   background-size: cover; 
   background-position: center;
   height: 500px;
}
.red {
   color: #fc7753;
}

.brown {
   color :#4A4548;
}

.brown:hover {
   color:  #fc7753;
}

#admin {
   height: 100vh;
   overflow:scroll; 
   display:flex;
}

.bodyadmin {
   width: 100%;
}

.sidebar {
   height: 100vh; /* altezza sidebar */
   position: fixed; /* FISSA COSI NON SCORRE CON LA PAGINA */
   top: 0;
   left: 0;
   width: 190px;
   background-color: #f2efea;
   color: #4A4548;
   transition: width 0.3s;
   overflow: auto;
}
.sidebar .nav-link {
   color: #4A4548;
   padding: 0px;
 
}
.sidebar .nav-link:hover {
   color:#fc7753;
}
.main-content {
   margin-left: 190px;
   transition: margin-left 0.3s;
   padding: 1rem;
   background-color: #f2efea;
}

.icon {
   padding-right: 5px;
   font-size: 30px;
   vertical-align: middle;
}

.icon-container {
   width: calc(20% - 8px);
}

.text {
   width: 80%;
}


header {
   margin-left: 190px;
   transition: margin-left 0.3s;
   background-color: #ffffff;
}
/* CARD DESTINATIONS */
.localities-card {
   box-shadow: 0 4px 8px 0 #50808e3b;
   transition: 0.3s;
   width: calc(100%/4 - 10px);
   background-color: white;
   border-radius: 5px;
 }
 
 .localities-card:hover {
   box-shadow: 0 8px 16px 0 #50808e4a;
 }
 
 .localities-container {
   display: flex;
   gap: 20px;
   flex-wrap: wrap;
   
 }

.localities-img {
   width: 100%;
   height: 100px;
   object-fit: cover;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
}



/* MEDIA QUERY */

@media (max-width: 992px) {
   .sidebar {
       width: 70px;
       overflow: hidden;
   }
   .sidebar .nav-link {
       font-size: 0; 
   }
   
   .main-content {
       margin-left: 70px;
   }

   header {
      margin-left: 70px;
   }
   #logo-ti {
      width: 60px;
     
   }
   
   .localities-card {
      width: calc(100%/2 - 10px);
   }
}

@media (max-width: 600px) {
   .localities-card {
      width: 100%;
   }
}

.table {
   --bs-table-hover-bg: rgba(var(--bs-emphasis-color-rgb), 1) !important;
   --bs-table-color: #4A4548 !important;
   --bs-table-hover-color: #4A4548 !important;
   border-color: #fc785345 !important;
   --bs-table-hover-bg:  #f2efea !important;
}

.localityImage {
   width: 180px;
   height: 180px;
}

.card {
width: 30%;
}